PROJECT_NAME=FleetLog API
VERSION=0.1.0
DEBUG=True

DATABASE_URL=postgresql://fleetlog_user:fleetlog_password@postgres:5432/fleetlog_db

SECRET_KEY=replace_this_with_a_long_random_secret_key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60